<template>
  <div class="lands-played-list">
  	<h2>What lands have I played?</h2>
	<ol reversed>
		<li v-for="land in landsPlayed.reverse()">{{land}}</li>
	</ol>
  </div>
</template>

<script>
export default {
	computed: {
		landsPlayed () {
			return this.$store.state.landsPlayed.toArray()
		}
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
