<template>
  <div>
  	<h1>Did I play a Land this turn?<br>
		<span v-if="landPlayed"><small>Yes, I played a {{landPlayed}}.</small> <button @click="untap">Its my turn again.</button></span>
		<small v-else>No, I can still play one.</small>
	</h1>
  </div>
</template>

<script>
export default {
	computed: {
		landPlayed () {
			return this.$store.state.landPlayed
		}
	},
	methods: {
		untap () {
			this.$store.commit('untap')
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button{
	font-size:0.5em;
}
</style>
