<template>
  <div class="play-land">
	  <span>I'm going to play a...</span><br>
	  <button v-for="land in landTypes" @click="playLand(land)">{{land}}</button>
	  <input type="text" v-model="customLandName" placeholder="Other Land">
	  <button @click="playLand(customLandName)">Other Land</button>
	  <div v-if="error">
		{{error}}
	  </div>
  </div>
</template>

<script>
export default {
	data () {
		return {
			error: undefined,
			customLandName: undefined
		}
	},
	computed: {
		landTypes () {
			return this.$store.state.landTypes.toArray()
		}
	},
	methods: {
		playLand (landName) {
			this.error = undefined
			let landPlayed = this.$store.state.landPlayed
			if(landPlayed){
				this.error='Consider playing the '+landName+' after you untap.'
				return
			}
			if(landName){
				this.$store.commit('playLand', landName)
				this.customLandName = undefined
				this.error=undefined
			}else{
				this.error='Something went wrong! You need to tell me the name of your "Other Land"'
				return
			}
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
