<template>
<div id="app" class="flex">
	<div class="grow">
		<land-played></land-played>
		<play-land></play-land>
	</div>
	<div class="third" id="landList">
		<lands-played-list></lands-played-list>
	</div>
</div>
</template>

<script>
import LandPlayed from './components/LandPlayed'
import PlayLand from './components/PlayLand'
import LandsPlayedList from './components/LandsPlayedList'

export default {
  name: 'app',
  components: {
  	LandPlayed,
	PlayLand,
	LandsPlayedList
  }
}
</script>

<style>
#landList {
	height:100vh;
	overflow-y: scroll;
}
</style>
